.cmw-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  padding: 18px;
}

.cmw-header-wrap {
  max-width: 1400px;
  margin: auto;

  background: #0f172a;

  border-radius: 18px;

  padding: 14px 22px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  box-shadow: 0 15px 40px rgba(0,0,0,.15);
}

.cmw-brand img {
  height: 55px;
  width: auto;
}

.cmw-toggle {
  width: 56px;
  height: 56px;

  border: none;

  background: #2563eb;

  border-radius: 12px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;

  padding: 0 14px;
}

.cmw-toggle span {
  height: 2px;
  background: white;
  width: 100%;
}

.cmw-sidebar {
  background: #111827;
  color: white;
  width: 380px !important;
}

.cmw-menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.cmw-menu-list li {
  margin-bottom: 8px;
}

.cmw-main-link {
  display: block;

  padding: 14px 16px;

  border-radius: 12px;

  text-decoration: none;

  color: white;

  font-size: 16px;

  font-weight: 500;
}

.cmw-main-link:hover {
  background: rgba(255,255,255,.08);
  color: #60a5fa;
}

.cmw-accordion .accordion-item {
  border: none;
  background: transparent;
}

.cmw-accordion .accordion-button {
  background: transparent;
  color: white;
  box-shadow: none;
  padding: 14px 16px;
}

.cmw-accordion .accordion-button::after {
  filter: brightness(0) invert(1);
}

.cmw-sub-link {
  display: block;

  color: #cbd5e1;

  text-decoration: none;

  padding: 10px 15px;

  border-radius: 10px;
}

.cmw-sub-link:hover {
  background: rgba(255,255,255,.08);
  color: white;
}

.cmw-quote-btn {
  display: block;

  text-align: center;

  margin-top: 20px;

  background: linear-gradient(
    135deg,
    #2563eb,
    #3b82f6
  );

  color: white;

  text-decoration: none;

  padding: 14px;

  border-radius: 12px;

  font-weight: 600;
}

/* body {
  padding-top: 110px;
} */

@media (max-width: 768px) {
  .cmw-sidebar {
    width: 320px !important;
  }

  .cmw-brand img {
    height: 45px;
  }
}
.offcanvas{
    z-index: 9999 !important;
}