:root {
  --sib-blue: #1f6fb8;
  --sib-blue-dark: #155a96;
  --sib-blue-light: #5ca7e6;

  --sib-red: #e53935;
  --sib-red-dark: #c62828;

  --sib-cyan: #2aa9e0;

  --sib-white: #ffffff;

  --sib-text: #1e293b;
  --sib-text-light: #64748b;

  --sib-gradient: linear-gradient(
    135deg,
    #1f6fb8 0%,
    #2aa9e0 50%,
    #e53935 100%
  );

  --sib-gradient-light: linear-gradient(
    135deg,
    rgba(31,111,184,0.08),
    rgba(42,169,224,0.08),
    rgba(229,57,53,0.08)
  );
}


.hero-title {
  font-size: clamp(3rem, 6vw, 5rem);
  font-weight: 700;
  line-height: 1.0;
  color: #fff !important;
  margin-bottom: 25px;
}

.hero-title span {
  background: linear-gradient(
    90deg,
    #1e73be,
    #60a5fa,
    #e53935
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.growth-panel {
  height: 100%;
  padding: 50px;
  border-radius: 32px;
  position: relative;
  overflow: hidden;

  background: rgba(255,255,255,.04);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255,255,255,.08);

  transition: all .5s ease;
}

.growth-panel:hover {
  transform: translateY(-12px);
}

.marketing-panel::before {
  content: "";
  position: absolute;
  width: 300px;
  height: 300px;
  background: rgba(168,85,247,.15);
  border-radius: 50%;
  bottom: -120px;
  left: -120px;
  filter: blur(60px);
}

.text-secondary{
  font-size: 20px;
}

.gradient-heading {
  background: linear-gradient(
    90deg,
    #ffffff,
    #a5b4fc,
    #60a5fa,
    #22d3ee
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.whitebg-h2 {
  font-size: clamp(2.8rem, 5vw, 4.5rem);
  font-weight: 800;
  color: #111827;
  line-height: 1.1;
  margin-bottom: 24px;
}